#app {
  .sidebar-container {
    transition: width 0.28s;
    //transition: 0.28s ease-in;
    background-color: $menuBg;
    border-right:2px solid #e8e8e8;
    height: 100%;
    //border-right:2px solid $menuHover !important;
    .el-scrollbar {
      height: 100%;
    }

    &.has-logo {
      .el-scrollbar {
        height: calc(100vh - 66px);
      }
    }

    a {
      display: block;
      width: 100%;
    }

    .svg-icon {
      margin-right: 10px;
    }

    .el-menu {
      //border-right:2px solid #e8e8e8;
      height: 100%;
      width: 100% !important;
    }

    .submenu-title-noDropdown,
    .el-submenu__title {
      font-size: 18px;
      &:hover {
        color: $menuHover !important;
        background-color: $menuHoverBg !important;
        //border-right:2px solid $menuHover !important;
      }
    }

    .el-menu-item.is-active.submenu-title-noDropdown{
      background-color: $menuActiveBg !important;
      //border-right:3px solid $menuHover !important;
    }

    .is-active > .el-submenu__title {
      color: $menuActiveText !important;
    }

    .el-menu-item > .is-active{
      background-color: $menuActiveBg !important;
    }
    & .nest-menu >.router-link-active> .is-active{
      background-color: $menuActiveBg !important;
    }


    & .nest-menu .el-submenu > .el-submenu__title,
    & .el-submenu .el-menu-item {
      font-size: 18px;
      min-width: $sideBarWidth !important;
      background-color: $subMenuBg !important;

      &:hover {
        color: $subMenuActiveText !important;
      }
    }
  }
}

.el-menu.el-menu--horizontal{
  border: 0;
}

// when menu collapsed
.el-menu--vertical {
  & > .el-menu {
    .svg-icon {
      margin-right: 16px;
    }
  }

  .nest-menu .el-submenu > .el-submenu__title,
  .el-menu-item {
    &:hover {
      // you can use $subMenuHover
      //background-color: $menuActiveBg !important;
    }
  }

  // the scroll bar appears when the subMenu is too long
  > .el-menu--popup {
    max-height: 100vh;
    overflow-y: auto;

    &::-webkit-scrollbar-track-piece {
      background: #d3dce6;
    }

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: #99a9bf;
      border-radius: 20px;
    }
  }
}
