.divider-title{
  font-weight: 600;
  border-left: 3px solid #1890ff;
  border-right: 3px solid #1890ff;
  padding-left: 7px;
  font-size: 17px;
  //margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 10px;
  line-height: 39px;
  background-color: #e6f7ff;
}
