//表单UI
.customForm{
  max-width: 600px;
}

//抽屉布局 顶部和底部高度固定，中间自适应
.el-drawer__body{
  height: calc(100% - 60px);
}

.el-drawer__header {
  height: 70px;
  padding: 16px 24px;
  margin-bottom: 0px;
  font-size: 20px;
  color: rgba(0,0,0,.85);
  border-bottom: 1px solid #f0f0f0;
  border-radius: 2px 2px 0 0;
}

.drawer-body-container {
  height: calc(100% - 60px);
  padding-left: 30px;
  //height: 100%;
  padding-right: 30px;
  overflow: auto;
}

.drawer-footer-container {
  border-top: 1px solid #dcdfe6;
  padding: 10px;
  text-align: center;
  &>button:nth-last-child(1){
    margin-left: 30px;
  }
}


.divider-title{
  font-weight: 600;
  border-left: 3px solid #1890ff;
  border-right: 3px solid #1890ff;
  padding-left: 7px;
  font-size: 17px;
  //margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 10px;
  line-height: 39px;
  background-color: #e6f7ff;
}
